body {
    margin-bottom: 20px;
}

.nav-wrapper {
    background-color: #282828;
}

h2 {
    font-family: 'Passion One', cursive;
    margin-top: 5px !important;
    font-size: 50px !important;
}

h1 {
    font-family: 'Passion One', cursive;
    font-size: 100px;
    margin-top: 5px;
}

h3 {
    font-family: 'Passion One', cursive;
}

.title {
    background-color: #282828;
    color: white;
    text-align: center;
    padding: 40px;
    height: 200px;
}

.parameters {
    background-color: #282828;
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
}

.search {
    padding: 10px;
    margin-top: 0px;
    border: solid 1px #282828;
}

.articleHeader {
    background-color: #282828;
    color: white;
    margin-top: 20px;
    margin-bottom: 0px;
}

.trainArea {
    border: solid 1px #282828;
}

.article-title {
    font-size: 30px;
    font-weight: bold;
}

.url {
    font-size: 10px;
    color: lightslategray;
}

.resultsArea {
    border: solid 1px #282828;
}

.article-content {
    background-color: lightgray;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#submit-train {
    background-color: #282828;
}
